{% import_yaml "role/defaults.yaml" as defaults %}

{% set overrides = {
    "role": {
        "name": "automation-operator-role"
    }
} %}

{% set cfg = salt['slsutil.merge'](defaults, overrides) %}
